# R-----------------
R version 4.4.3

> packageVersion("BiocManager")
[1] ‘1.30.27’
> packageVersion("readr")
[1] ‘2.1.5’
> packageVersion("dplyr")
[1] ‘1.1.4’
> packageVersion("tibble")
[1] ‘3.3.0’
> packageVersion("edgeR")
[1] ‘4.4.2’
> packageVersion("sva")
[1] ‘3.54.0’

library(BiocManager)
library(readr)
library(dplyr)
library(tibble)
library(edgeR)
library(sva)

For installing refer to 
if (!require("BiocManager", quietly = TRUE))
  install.packages("BiocManager")
BiocManager::install("package_name")


# Python--------------
Python: 3.11.5 | packaged by Anaconda, Inc. 

#For ML-----
scikit-learn: 1.5.2
XGBoost: 3.0.4
imbalanced-learn: 0.14.0
NumPy: 2.2.6
Pandas: 2.3.2
Joblib: 1.5.2

#For DL------
NumPy: 2.2.6
Pandas: 2.3.2
Joblib: 1.5.2
TensorFlow: 2.20.0
Keras: 3.11.3
SciKeras: 0.13.0
scikit-learn: 1.5.2
imbalanced-learn: 0.14.0